target/
*/target/
project/target/
project/project/
*/hw/gen/
simWorkspace/
*/simWorkspace/
.spinal-sbt/
vertebra-hil/fpga/build
vertebra-hil/fpga/hw/gen/*.v
vertebra-hil/esp32/build
vertebra-hil/esp32/sdkconfig
vertebra-hil/esp32/*/build
.vscode/settings.json
