target/
*/target/
project/target/
project/project/
*/hw/gen/
simWorkspace/
*/simWorkspace/
.spinal-sbt/
vertebra-hil/fpga/gen
vertebra-hil/fpga/build
vertebra-hil/esp32/build
vertebra-hil/esp32/sdkconfig
